<div *ngIf="chartData" fxHide.xs>
    <canvas baseChart
            [datasets]="chartData"
            [labels]="labels"
            [options]="options"
            [legend]="true"
            [plugins]="plugins"
            [chartType]="'line'"></canvas>
</div>
<div *ngIf="chartData" fxShow.xs fxHide.gt-xs fxLayout="column" fxLayoutAlign="center center" class="change-rotation">
    <p>
        <mat-icon>screen_rotation</mat-icon>  
    </p>
    <p>Ruota il dispositivo per vedere il grafico</p>
</div>
<div *ngIf="!chartData && district" fxLayout="column" fxLayoutAlign="center center" class="spinner">
    <mat-spinner [diameter]="48"></mat-spinner>
</div>
