.container {
    min-height: 100vh;

    a[mat-button] {
        width: 24px;
        height: 24px;

        &:hover {
            opacity: .8;
        }
    }

    .content {
        flex: 1;
    }
}