<div *ngIf="provinces">
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <mat-button-toggle-group #group="matButtonToggleGroup" class="toggle-group" [(ngModel)]="checkGroup" (change)="onCheckGroupChange($event)">
            <mat-button-toggle value="all" aria-label="Seleziona tutto" matTooltip="Seleziona tutto">
                <mat-icon>radio_button_checked</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="none" aria-label="Deseleziona tutto" matTooltip="Deseleziona tutto">
                <mat-icon>radio_button_unchecked</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <mat-list>
            <mat-list-item (click)="toggle(province)" *ngFor="let province of provinces; let i = index" class="province-btn" [class.disabled]="province.disabled"> 
                <p mat-list-icon [ngStyle]="{'background-color':  i | asColor}"></p>
                <p mat-line>{{province.name}} ({{province.code}})</p>
                <small mat-line class="cases">casi totali: <strong>{{province.cases}}</strong></small>
            </mat-list-item>
    </mat-list>
</div>
