@import '../../../../styles/palette.scss';

.cases {
    color: $text-light;
}

.province-btn {
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        background-color: #F0F0F0;
    }

    &.disabled {
        opacity: .4;
    }
}