<mat-button-toggle-group #group="matButtonToggleGroup" class="toggle-group" [value]="value" (change)="onCheckGroupChange($event)">
    <mat-button-toggle value="all" aria-label="Seleziona tutto" matTooltip="Seleziona tutto">
        <mat-icon>radio_button_checked</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="none" aria-label="Deseleziona tutto" matTooltip="Deseleziona tutto">
        <mat-icon>radio_button_unchecked</mat-icon>
    </mat-button-toggle>
</mat-button-toggle-group>